#blog {
  .root {
    z-index: 5;
    position: relative;
    > div {
      @include breakpoints-down(md) {
        padding: 0
      }
    }
  }

  .props {
    width: 240px;
    height: 240px;
    &:focus {
      outline: none
    }
  }

  .floating-title {
    text-align: center;
    padding: spacing(0, 2);
    @include breakpoints-up(md) {
      position: absolute;
      @include left($spacing8);
      top: $spacing12;
      width: 240px;
    }
  }

  .carousel {
    position: relative;
    .slick-list {
      overflow: visible
    }
    @include breakpoints-down(sm) {
      margin-top: $spacing3
    }
  }

  .item {
    padding: spacing(0, 1);
    direction: ltr;
    &:focus {
      outline: none
    }
  }
  .link {
    padding: 0;
    text-transform: none;
    font-weight: $font-regular;
  }
  .nav {
    position: absolute;
    top: 42%;
    width: 36px;
    height: 36px;
    padding: 0px;
    min-width: 0px;
    z-index: 3;
    @include palette-background-default;
    border: none;
    box-shadow: none;
    [dir="rtl"] & {
      transform: scale(2.5) rotate(180deg)
    }
    [dir="ltr"] & {
      transform: scale(2.5) rotate(0deg)
    }
    @include breakpoints-down(sm) {
      display: none
    }
    i {
      transform: scale(1.6);
      @include palette-text-primary;
    }
  }

  .prev {
    @include left(6px)
  }
  .next {
    @include right(6px)
  }

  .item-props-first {
    div {
      [dir="rtl"] & {
        width: 350px 
      }
      [dir="ltr"] & {
        width: 400px 
      }
      @media (max-width: 1500px) {
        [dir="rtl"] & {
          width: 500px 
        }
        [dir="ltr"] & {
          width: 300px 
        }
      }
    }
    @include breakpoints-down(md) {
      display: none
    }
  }
  .item-props-last {
    div {
      [dir="rtl"] & {
        width: 350px 
      }
      [dir="ltr"] & {
        width: 400px 
      }
      @media (max-width: 1500px) {
        [dir="rtl"] & {
          width: 300px 
        }
        [dir="ltr"] & {
          width: 500px 
        }
      }
    }
    @include breakpoints-down(md) {
      display: none
    }
  }

}