.alert.full.alert-dismissible.fade.show.notification(role='alert')
  .wrapper
    .content
      .action #{$t.common.notif_msg}
      |
      |
      button.btn.secondary.waves-effect(type='button', data-dismiss='alert', aria-label='Close') #{$t.common.accept}
