.parallax-wrap.dots-wrap
  .inner-parallax
    .figure
      div(data-enllax-ratio="-0.2" data-enllax-type="foreground")
        |
        |
        img.parallax-vertical.parallax-dot(src=assets+"/images/decoration/dot-deco.svg" alt="dot")/
        |
        |
      div(data-enllax-ratio="-0.15" data-enllax-type="foreground")
        |
        |
        svg.parallax-vertical.parallax-triangle(fill='#cccccc', width='902px', height='1042px')
          include svg/triangle-deco.pug
        |
        |
