.navigation
  .container.fixed-width
    nav.nav-menu
      .scrollactive-nav
        a.logo.anchor-link(href='#banner')
          img(src=assets+brand.maskulino.img alt='logo')/
      .menu
        ul.collection.scrollactive-nav.scrollnav
          each item in menu.maskulino
            li.collection-item.link.anchor-link
              a.text.waves-effect(href='#'+item.name) #{$t.maskulino_landing['header_'+item.name]}
